<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="helper.ExtenReportManager"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.imejob.tests.navigation.FooterNavigationTest"/>
      <class name="com.imejob.tests.navigation.HeaderNavigationTest"/>
      <class name="com.imejob.tests.navigation.HomePageNavigationTest"/>
      
      <class name="com.imejob.tests.functional.SearchTest"/>
      <class name="com.imejob.tests.functional.BookDemoTest"/>
      <class name="com.imejob.tests.navigation.HomePageNavigationTest"/>
      <class name="com.imejob.tests.functional.JobSeekerAuthTest"/>
      <class name="com.imejob.tests.functional.EmployerAuthTest"/>
      <class name="com.imejob.tests.functional.HomePageJobCardsTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
